/* global variable colors */
:root {
    --darkBackground: #323232;
    --lightBackground: #DDD0C8;
    --blackColor: #000000;
    --whiteColor: #FFFFFF;
}

/* global styling */
html, body {
    background-color: var(--lightBackground);
}