/* .nav{
    background-color: #432f22;
    height: 88px;
} */

.container{
    margin-top: 150px;
}

.card{
    height: 60vh;
    margin: 25px;
    padding: 25px;
}

.sec {
    margin-top: 150px;
    margin-bottom: 50px;
}

.center{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.center img{
    width: 90%;
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
    margin-top: 150px !important;
    margin: 20px 0;
}