<app-toolbar></app-toolbar>

<div class="body">
    <div class="heading">
        <img src="assets/heading-img.png" alt="">
        <h3>our Products</h3>
    </div>

    <div class="container">
        <div class="row">
            <div class="search-prod">
                <input class="form-control" type="text" name="search" autocomplete="off"
                    placeholder="  Start searching for What you want ?!" [(ngModel)]="searchVar"> 
                <i style="font-size: 30px;" class="fa fa-search search-icon" aria-hidden="true"></i>
                <button routerLink="/cart" class="btn btn-shop" style="color:#BE9C79; ">
                    <i style="font-size: 40px;" class="fas fa-cart-plus"></i>
                    <div style="font-size: 12px; " class="badge bg-danger">{{totalItem}}</div>
                </button>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <ng-container *ngFor="let item of productList | filter: searchVar">
                <mat-card class="example-card">
                    <img mat-card-image src="{{item.images[0]}}" alt="Photo of a Shiba Inu">
                    <mat-card-header>
                        <mat-card-title>{{item.title}}</mat-card-title>
                    </mat-card-header>

                    <mat-card-content>
                        <p>
                            {{item.description}}
                        </p>
                        <p><strong>price: ${{item.price}}</strong></p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button style="width: 100%; background-color: #BE9C79;"
                            (click)="addToCart(item)">Add to cart</button>

                    </mat-card-actions>
                    <mat-card-footer>
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    </mat-card-footer>
                </mat-card>
            </ng-container>


        </div>
    </div>
</div>