<app-toolbar></app-toolbar>

<div class="banner-image w-100 vh-100 d-flex align-items-center p-5">
  <div class="text-left content m-5">
    <h3>coffee is ready...</h3>
    <a href="#" class="btn homebtn" style="background:none;" routerLink="/products">buy one now</a>
  </div>
</div>

<div class="card-group p-5">
  <div class="card m-5 d-flex align-items-center">
    <img src="../../../assets/1.jpeg" class="card-img-top" alt="">
    <div class="card-body">
      <h2 class="card-title">Latte</h2>
      <p class="card-text tit">Suspendisse varius enim in eros elementum tristique.</p>
      <p class="card-text price">$2.99</p>
      <p class="card-text disc">$2.00</p>
    </div>
    <div class="card-body">
      <button type="button" class="btn" routerLink="/products" routerLinkActive="active">Check out</button>
    </div>
  </div>
  <div class="card m-5 d-flex align-items-center">
    <img src="../../../assets/2.jpeg" class="card-img-top" alt="">
    <div class="card-body">
      <h2 class="card-title">Caramel</h2>
      <p class="card-text tit">Dolor sit amet, consectetur elit elementum tristique.</p>
      <p class="card-text price">$3.35</p>
      <p class="card-text disc">$2.35</p>
    </div>
    <div class="card-body">
      <button type="button" class="btn" routerLink="/products" routerLinkActive="active">Check out</button>
    </div>
  </div>
  <div class="card m-5 d-flex align-items-center">
    <img src="../../../assets/3.jpeg" class="card-img-top" alt="">
    <div class="card-body">
      <h2 class="card-title">Flat White</h2>
      <p class="card-text tit">Elit suspendisse varius enim in eros elementum tristique.</p>
      <p class="card-text price">$3.00</p>
      <p class="card-text disc">$2.20</p>
    </div>
    <div class="card-body">
      <button type="button" class="btn" routerLink="/products" routerLinkActive="active">Check out</button>
    </div>
  </div>
</div>



<app-footer></app-footer>