<div class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white vh-100"
    style="background: url('../../../assets/aboutBG.jpeg');">
    <div class="page" fxLayoutAlign="center center">
        <mat-card class="mat-elevation-z12" fxFlex.sm="80%" fxFlex.xs="100%">
            <mat-card-title style="text-align:center;" fxLayoutGap="10px">
                <img src="../../../assets/icon3.jpg" alt="" class="icon">
            </mat-card-title>
            <mat-tab-group mat-stretch-tabs animationDuration="400ms" color="primary">
                <mat-tab label="Sign In">
                    <mat-card-content>
                        <form #log="ngForm" (ngSubmit)="login(log)">
                            <mat-form-field>
                                <mat-label>Email</mat-label>
                                <input matInput placeholder="Email" email required name="email" ngModel
                                    #email="ngModel">
                                <mat-error *ngIf="email.errors?.['required']">Email is required</mat-error>
                                <mat-error *ngIf="email.invalid">Email is Invalid</mat-error>
                                <mat-icon matSuffix>email</mat-icon>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Password</mat-label>
                                <input matInput placeholder="Password" type="password" required minlength="6"
                                    name="password" ngModel #password="ngModel">
                                <mat-error *ngIf="password.errors && password.hasError('required')">
                                    Password is required
                                </mat-error>
                                <mat-error *ngIf="password.errors && password.errors?.['minlength']">
                                    Password must be of length 6
                                </mat-error>
                                <mat-icon matSuffix>lock</mat-icon>
                            </mat-form-field>
                            <mat-checkbox color="primary" name="Remember"><span class="remember">Remember Me!
                                </span></mat-checkbox>
                            <button mat-raised-button style="background-color: #432f22;" class="login-button">
                                <span style="color: white;">Sign In</span>
                            </button>


                        </form>
                    </mat-card-content>
                </mat-tab>

                <!-- /////////////////////Registeration//////////////////////////////////////////// -->
                <mat-tab label="Sign Up">
                    <mat-card-content>
                        <form #f="ngForm" (submit)="OnSubmit(f)">
                            <mat-form-field>
                                <mat-label>Username</mat-label>

                                <input matInput placeholder="User Name" required name="username" ngModel
                                    #username="ngModel">
                                <mat-icon matSuffix>perm_identity</mat-icon>
                                <mat-error *ngIf="username.invalid">
                                    Username is required
                                </mat-error>

                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Email</mat-label>
                                <input matInput placeholder="Email" email required name="email" ngModel
                                    #email="ngModel">
                                <mat-error *ngIf="email.hasError('required') && !email.dirty">Email is
                                    required</mat-error>
                                <mat-error *ngIf="email.invalid">Email is Invalid</mat-error>
                                <mat-icon matSuffix>email</mat-icon>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Password</mat-label>
                                <input matInput placeholder="Password" type="password" required minlength="6"
                                    name="password" ngModel #password="ngModel">
                                <mat-error *ngIf="password.errors && password.hasError('required')">
                                    Password is required
                                </mat-error>
                                <mat-error *ngIf="password.errors && password.errors?.['minlength']">
                                    Password must be of length 6
                                </mat-error>
                                <mat-icon matSuffix>lock</mat-icon>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Re-enter password</mat-label>
                                <input matInput placeholder="Password" type="password" required minlength="6"
                                    name="repassword" ngModel #repassword="ngModel">
                                <mat-error *ngIf="repassword.errors && repassword.hasError('required') ">
                                    Re-Enter Password is required
                                </mat-error>
                                <mat-error *ngIf="repassword.errors?.['minlength']">
                                    Password must be of length 6
                                </mat-error>

                                <mat-icon matSuffix>lock</mat-icon>
                            </mat-form-field>

                            <mat-radio-group aria-label="Select an option" name="gender" ngModel #gender="ngModel"
                                fxLayoutAlign="center center" color="primary">
                                <mat-radio-button name="gender" value="male"><span
                                        class="male">Male</span></mat-radio-button>
                                <mat-radio-button name="gender" value="female"><span
                                        class="female">Female</span></mat-radio-button>
                            </mat-radio-group>
                            <button mat-raised-button style="background-color: #432f22;" class="login-button">
                                <span style="color: white;">Sign Up</span>
                            </button>

                        </form>
                    </mat-card-content>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>
</div>