<app-toolbar></app-toolbar>
<section class="contact" id="contact">

    <div class="row1">

        <div class="image">
            <img class="tilt" src="assets/contact-img.svg" alt="">
        </div>

        <form >

            <div class="inputBox">
                <input type="text" placeholder="name">
                <input type="email" placeholder="email">
            </div>

            <input type="text" placeholder="subject" class="box">

            <textarea placeholder="message" name="" id="" cols="30" rows="10"></textarea>

            <input type="submit" class="btn" value="send message">

        </form>

    </div>

</section>
