<app-toolbar></app-toolbar>
<!-- <div class="bg-image" 
     style="background-image: url('../../../assets/aboutBG.jpeg');
            height: 100vh">
    <div class="para text-white">
        <h3>ABOUT US</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio delectus perferendis eaque consectetur earum. Sit, adipisci. Commodi quos sit temporibus. 
            Error accusamus asperiores sed alias voluptatum consectetur culpa blanditiis officiis!</p>
    </div>

</div> -->
<div
  class="bg-image p-5 text-left shadow-1-strong text-white d-flex align-items-center"
  style="background-image: url('../../../assets/aboutBG.jpeg'); height: 100vh"
>
  <div class="para rounded text-center h-50">
    <h3 class="mb-3 h2" style="font-family: cursive">ABOUT US</h3>

    <p class="para">
      Coffee is a popular drink with many people in the world. This is evident from the number of coffee 
      chains across the globe like Starbucks and Café Coffee Day, which are gaining increasing popularity.
    </p>
    <p class="para">
      Coffee, like tea, has caffeine which acts as a brain stimulant and leads to 
      alertness making coffee breaks much awaited especially in jobs with high stress levels.
    </p>
  </div>
</div>

<!-- <app-footer></app-footer> -->
