<section class="">
    <!-- Footer -->
    <footer class="footer text-white text-center">
        <!-- Grid container -->
        <div class="container p-4">
            <!--Grid row-->
            <div class="row">
                

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h4 class="text-uppercase">VISIT US</h4>

                   <p>Suez Canal University</p>
                   <p>ITI Ismailia </p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h4 class="text-uppercase">Hours </h4>
                    <h4>Opening & Takeout</h4>

                    <p>Monday - Thursday 4:00 pm - 9:00 pm</p>
                    <p>Friday - Saturday 8:00 am - 11:00 pm</p>
                    <p>Sunday 11:30 am - 9:00 pm</p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h4 class="text-uppercase mb-0">Let's get social</h4>
                    
                    <a href="https://facebook.com"><i class="lab la-facebook icons p-3"></i></a>
                    <a href="https://twitter.com"><i class="lab la-twitter icons p-3"></i></a>
                    <a href="https://instagram.com"><i class="lab la-instagram icons p-3"></i></a>
                    
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/">HYMAA</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</section>