
mat-toolbar img {
    width: 50px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 65%;
}

input {
    display: inline-block;
    width: 50%;
    font-size: 15px;
    border-radius: 7px;
    border: 2px solid #c0bdbd;
}

input:focus {
    outline: 0;
    border-color: #be9c79;
}

input::placeholder {
    font: 20px curse;
    color: #be9c79;
    font-weight: bold;
}

.navbar a {
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: capitalize;
    
}

.navbar-default{
    transition:500ms ease;
    background:transparent;
  }
.navbar-default.scrolled{
    background:#432f22 !important;
  }
/* .navbar{
    background-color: #432f22;
} */
.user {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    /* bottom: 8.5px; */
    right: 7px;
    outline: none;
}

.user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.coffee{
    font-size: 40px;
    color: #fff;
    /* font-weight: bold; */
}

.log{
    color: white;
    font-size: 20px;
}

.login{
    display: none;
}
.sara{
    flex: 1 1 100%;
    box-sizing: border-box;
    max-height: 100%;
}
.log{
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: capitalize;
}
.logout, .profile{
    display: none;
}

@media screen and (max-width: 991px) {
    .log,.example-icon {
      display: none;
    }
    .login{
        display: block;
    }
    .logoutbtn, .user{
        display: none;
    }
    .logout, .profile{
        display: block;
    }
}