mat-toolbar img {
    width: 50px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 65%;
}

input {
    display: inline-block;
    width: 50%;
    font-size: 15px;
    border-radius: 7px;
    border: 2px solid #c0bdbd;
}

input:focus {
    outline: 0;
    border-color: #be9c79;
}

input::placeholder {
    font: 20px curse;
    color: #be9c79;
    font-weight: bold;
}

.navbar a {
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: capitalize;
}

/* .navbar-default{
    transition:800ms ease;
    background:transparent;
  }
.navbar-default.scrolled{
    background:#432f22;
  } */

.user {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    bottom: 8.5px;
    right: 7px;
}

.user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar {
    background-color:#432f22;
    height:70px
}

.log{
    color: #432f22;
}

.login{
    display: none;
}
.sara{
    flex: 1 1 100%;
    box-sizing: border-box;
    max-height: 100%;
}

.la-coffee{
    color: white;
    font-size:30px;
}
/* .logoutbtn{
    display:inline-block;
} */

@media screen and (max-width: 812px) {
    .log,.example-icon {
      display: none;
    }
    .login{
        display: block;
    }
    .logoutbtn{
        display: none;
    }
    .logout{
        display: block;
    }
}